body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    font-size: 25px;
}

* {
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}

.header__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 90px;
    background-color: white;
}

.header__wrapper svg {
    height: 100%;
}

.header__wrapper a {
    height: 100%;
    display: grid;
    place-items: center;
    padding: 0 40px;
    text-decoration: none;
}

.header__link {
    width: 65%;
    display: flex;
    align-items: center;
    height: 100%;
}

.header__link a {
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: calc(100% / 3);
    color: black;
    border-bottom: 2px solid #ddd;
}

.header__link a svg {
    height: 40%;
    fill: black;
}

.header__link a:not(:last-child) {
    border-right: 2px solid #ddd;
}

.header__link a:hover {
    background-color: #ddd;
}

.header__email {
    flex-grow: 1;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #f8ccb9;
    color: #d74514;
    font-weight: 900;
}

.header__email svg {
    height: 40%;
    fill: #d74514;
}

.header__email:hover {
    color: white;
    background-color: #d74514;
}

.header__email:hover svg {
    fill: white;
}

.title__wrapper {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
    margin: min(15vw, 300px) auto min(15vw, 300px) auto;
    font-family: "Impact", sans-serif;
    font-size: min(23.5vw, 288px);
    letter-spacing: 0;
    text-align: center;
    font-weight: 900;
}

.title__chen {
    place-self: end;
}

.title__yang {
    place-self: start;
}

.title__chen::first-letter,
.title__yang::first-letter {
    color: #d74514;
}

.exp__wrapper {
    padding: 20px 0;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: min(1000px, 90%);
    border-left: 4px solid #d74514;
}

.exp__item {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    padding-left: 40px;
}

.exp__title {
    position: relative;
    font-weight: 900;
    color: #d74514;
    margin: 0;
}

.exp__title a {
    color: inherit;
}

.exp__title a svg {
    height: 24px;
}

.exp__title::before {
    position: absolute;
    left: -42px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    content: "";
    width: 20px;
    height: 20px;
    border: 4px solid #d74514;
    background-color: white;
    border-radius: 50%;
    grid-column: 1;
    justify-self: center;
}

.exp__date {
    color: #d74514;
    margin: 0;
    font-size: 0.9em;
}

.exp__desc {
    color: #888;
    font-size: 0.8em;
    grid-column: 1 / -1;
    margin: 0;
    line-height: 1.6;
}

footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    display: grid;
    place-items: center;
    border-top: min(2vw, 12px) solid #d74514;
    font-size: 20px;
}

.footer__wrapper {
    width: min(1000px, 90%);
    display: grid;
    grid-template-columns: auto 1fr;
}

.footer__wrapper svg {
    height: 80px;
    fill: white;
}

.footer__divider {
    place-self: end;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 10px;
    margin: 10px 0 40px 0;
}

.footer__divider a {
    color: white;
}

.footer__wrapper p {
    grid-column: 1 / -1;
    text-align: center;
    margin: 0;
    color: #d74514;
}

.footer__wrapper p a {
    color: #d74514;
}

@media screen and (max-width: 1024px) {
    .header__wrapper svg {
        display: none;
    }

    .header__wrapper a {
        padding: 5px;
    }

    .header__link {
        width: 75%;
    }

    .title__wrapper {
        margin: 30vw auto 30vw auto;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 20px;
    }

    .title__wrapper {
        margin: 45vw auto 30vw auto;
        grid-template-columns: auto;
        font-size: 44vw;
    }

    .title__chen {
        place-self: center;
    }

    .title__yang {
        margin-top: -15vw;
        place-self: center;
    }

    .title__chen::first-letter,
    .title__yang::first-letter {
        color: #d74514;
    }

    .exp__wrapper {
        margin: 80px auto;
        border-left: 3px solid #d74514;
    }

    .exp__item {
        grid-template-columns: 1fr;
        padding-left: 30px;
    }

    .exp__title::before {
        left: -31.5px;
        width: 16px;
        height: 16px;
        border: 3px solid #d74514;
    }

    .exp__title a svg {
        height: 18px;
    }

    .exp__date {
        font-size: 0.8em;
    }

    .footer__wrapper {
        font-size: 16px;
    }

    .footer__wrapper svg {
        height: 60px;
    }
}

@media screen and (max-width: 425px) {
    body {
        font-size: 16px;
    }

    .title__wrapper {
        margin: 60vw auto 30vw auto;
    }

    .exp__wrapper {
        margin: 40px auto;
        gap: 20px;
        border-left: 2px solid #d74514;
    }

    .exp__item {
        padding-left: 20px;
    }

    .exp__title::before {
        left: -21px;
        width: 12px;
        height: 12px;
        border: 2px solid #d74514;
    }

    .exp__title a svg {
        height: 14px;
    }

    .footer__wrapper {
        font-size: 14px;
    }
}