.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 3rem;
    margin: 2rem 2rem 0 2rem;
}

.link-cluster {
    text-decoration: none;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    gap: 1rem 2rem;
    max-width: 31.25rem;
    padding: 2rem;
    box-shadow: 0 0 0.5rem var(--black-shadow-primary-color);
    transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.link-cluster .img {
    grid-row: 1 / 3;
    height: 100%;
}

.link-cluster .img span {
    height: 8rem;
    width: 8rem;
    font-size: 8rem;
    color: var(--fac-color);
    transition: all 0.25s ease-in-out;
}

.link-cluster .link-title {
    font-size: 3rem;
    font-weight: 900;
    font-family: var(--primary-font);
    color: var(--fac-color);
    line-height: 4rem;
    text-transform: uppercase;
}

.link-cluster .link-text {
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: 0.05rem;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.blog-cluster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;
}

.blog-cluster .blog-item {
    color: var(--primary-color);
    font-size: 1.5rem;
    line-height: 2.25rem;

    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.blog-cluster .blog-item::before {
    content: '\00BB';
    font-size: 3rem;
    position: absolute;
    left: -1rem;
    top: -0.2rem;
    color: var(--fac-color);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.blog-cluster .blog-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

.blog-cluster .blog-item .blog-title {
    font-weight: 900;
    font-family: var(--primary-font);
}

.blog-cluster .blog-item .blog-date {
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    .link-content {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 425px) {
    .img {
        display: none;
    }

    .link-cluster {
        grid-template-columns: auto;
    }
}

@media (hover: hover) {
    .link-cluster:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0 0 2rem var(--black-shadow-secondary-color);
    }

    .blog-cluster .blog-item:hover::before {
        opacity: 1;
        transform: translateX(-1rem);
    }

    .blog-cluster .blog-item:hover {
        position: relative;
        transform: translateX(1.5rem);
    }

    .blog-cluster .blog-item:hover::after {
        background-color: var(--fac-color);
    }
}