.footer {
    margin-top: 4rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 4rem 0 2rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.job {
    font-size: 2rem;
    font-weight: 900;
    font-family: var(--primary-font);
    text-transform: uppercase;
    margin: 0 1rem;
}

.footer ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    font-size: 1.5rem;
    transition: transform 0.25s ease-in-out;
}

.footer ul li a {
    text-decoration: none;
    color: var(--fac-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer ul li a img {
    height: 4rem;
    width: 4rem;
}

.footer-text {
    margin-top: 2rem;
    color: var(--white-color);
}

@media (hover: hover) {
    .footer ul li:hover {
        transform: translateY(-0.25rem);
    }
}