.home {
    width: 96vw;
    height: 96vh;
    display: flex;
    margin: 1rem auto calc(96vh - 8rem) auto;
    font-family: var(--primary-font);
}

.left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.right {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-square {
    width: 100%;
    height: 100%;
    padding-right: 0.5rem;
}

.square-content {
    width: calc(100% - 0.5rem);
    height: calc(100% - 0.5rem);
    border: 2rem solid var(--primary-color);
    box-sizing: border-box;
    background-color: var(--white-color);
}

.subtitle {
    text-transform: capitalize;
    letter-spacing: 0.25rem;
    font-size: 2rem;
    color: var(--primary-color);
}

.left-title {
    text-transform: uppercase;
    font-size: 8rem;
    font-weight: 900;
    color: var(--primary-color);
    line-height: 8rem;
    transition: text-shadow 0.25s ease-in-out;
}

.left-title:hover {
    text-shadow: 0 0 0.25rem var(--blue-shadow-color);
}

.right-square {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    border: 0.25rem solid var(--primary-color);
    box-sizing: border-box;
    position: relative;
}

.right-title {
    text-transform: uppercase;
    font-size: 8rem;
    font-weight: 900;
    color: var(--white-color);
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 1;
    transform: translateY(0.25rem);
    transition: text-shadow 0.25s ease-in-out;
}

.right-title:hover {
    text-shadow: 0 0 0.25rem var(--white-color);
}

.star {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

.star img {
    width: 16rem;
    height: 16rem;
}

@keyframes home-scroll {
    0% {
        transform: translateY(0);
        height: 96vh;
    }

    100% {
        transform: translateY(calc(96vh - 18.75rem));
        height: 18.75rem;
    }
}

.home {
    animation: home-scroll linear forwards;
    animation-timeline: scroll();
    animation-range: 0 calc(96vh - 18.75rem);
}

@keyframes star-hover {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.star img:hover {
    animation: star-hover 1s linear infinite;
}

@keyframes star-scroll {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        width: 14.25rem;
        height: 14.25rem;
    }
}

.star img {
    animation: star-scroll linear forwards;
    animation-timeline: scroll();
    animation-range: 0 calc(96vh - 18.75rem);
}

@media screen and (max-width: 768px) {
    .left-square,
    .star {
        display: none;
    }

    .home {
        flex-direction: column;
    }

    .left {
        justify-content: end;
    }

    .right {
        height: auto;
    }

    .right-title {
        position: static;
    }
}