.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-3rem);
    margin: 0;
    padding: 0.75rem 1rem 0.25rem 1rem;
    background-color: var(--primary-color);
    box-shadow: 0 0 0.5rem var(--black-shadow-primary-color), 0 0 2rem var(--black-shadow-secondary-color);
    opacity: 0.5;
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.menu:hover {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

.menu ul li {
    width: 2rem;
    height: 2rem;
}



.menu ul li a {
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: var(--white-color);
    transform: scale(0.75);
    transition: background-color 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.menu ul li.active a {
    background-color: var(--secondary-color);
    transform: scale(1);
}

.menu hr {
    width: 40%;
    height: 0.1rem;
    background-color: var(--white-color);
    margin: 0.5rem 0 0 0;
}