.skill {
    position: relative;
    width: 100%;
    height: calc(min(80vh, 100vw));
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.9));
}

.skill__content {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.skill__title {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 9rem;
    font-weight: 900;
    font-family: var(--primary-font);
    background: linear-gradient(to bottom, white 40%, transparent 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@media screen and (max-width: 768px) {
    .skill__title {
        font-size: 6rem;
    }
}